<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>

    <style>

        body {
            font: 13px Helvetica, Arial;
        }

        #chat{
            overflow:auto;
        }

        #messageForm {
            background-color:rgb(216, 170, 118); padding: 8px 8px 8px 8px ;
            display: inline;
        }

        #chatMessageBox {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 85vh;
        }

        #chatMessageBox li {
            padding: 5px 10px;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>

        function intToRGB(integer) {
            let c = (integer & 0x00FFFFFF)
                .toString(16)
                .toUpperCase();

            return "00000".substring(0, 6 - c.length) + c;
        }

        function hashCode(string) { // java String#hashCode
            let hash = 0;
            for (let i = 0; i < string.length; i++) {
                hash = string.charCodeAt(i) + ((hash << 5) - hash);
            }
            let result = intToRGB(hash);
            console.log(result);
            return result;
        }

        function linkify(text) {
            let urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
            return text.replace(urlRegex, function(url) {
                return '<a href="' + url + '">' + url + '</a>';
            });
        }

        $(document).ready(function () {

            let socket = io();

            // We don't need to pass the name, it will be obtained from the session
            socket.emit("join");

            // Message submit button clocked
            $('#messageForm').submit(function () {
                socket.emit('chatMessage', $('#messageFormInput').val());
                //console.log($('#m').val());
                $('#messageFormInput').val('');
                return false;
            });

            // Client received message
            socket.on('chatMessage', function(message) {
                $('#chatMessageBox').append('<li style=background-color:#' + hashCode(message.id) + '>' + (message.id + ":" + linkify(message.msg)) + '</li>');
                window.scrollTo(0,document.body.scrollHeight);
            });

            // Client received update
            socket.on('update', function(message) {
                $('#chatMessageBox').append('<li style="background-color:#000000;color:#FFFFFF">' + (message) + '</li>');
                window.scrollTo(0,document.body.scrollHeight);
            });
        });

    </script>

</head>

<body>

<!--Chat Messages Box-->
<div id="chat">
    <ul id="chatMessageBox"></ul>
</div>

<hr>

<div>

    <!--Leave Room Button-->
    <button onclick="window.location='/';">Leave Room</button>

    <!--Message FormButton-->
    <form id="messageForm" action="">
        <input style="width:88%" id="messageFormInput" autocomplete="off" />
        <button>Send Message</button>
    </form>

</div>


</body>

</html>