<!doctype html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Passport example</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>

            function addUserDetails() {

                const socket = io();
                const socketIdSpan = document.getElementById("socketId");
                const usernameSpan = document.getElementById("username");

                socket.on('connect', () => {

                    socketIdSpan.innerText = socket.id;

                    socket.emit('whoami', (username) => {
                        usernameSpan.innerText = username;
                    });

                });

                // TODO: Add User Rooms

            };

            $(document).ready(function () {

                let socket = io();

                // Create room submit button clicked
                $('#createRoomForm').submit(function () {
                    socket.emit('createRoom', $('#createRoomFormInput').val());
                    //console.log($('#m').val());
                    $('#createRoomFormInput').val('');
                    return false;
                });

                // Join room submit button clicked
                $('#joinRoomForm').submit(function () {
                    socket.emit('joinRoom', $('#joinRoomFormInput').val());
                    //console.log($('#m').val());
                    $('#joinRoomFormInput').val('');
                    location.href = '/';
                    return false;
                });

            });



        </script>


    </head>

    <body>

        <p>Authenticated!</p>
        <p>Socket ID: <span id="socketId"></span></p>
        <p>Username: <span id="username"></span></p>
        <script>addUserDetails();</script> <!-- Fills the page with the authenticated user details-->

        <div>

            <!--Logout button-->
            <form action="/logout" method="post">

                <div>
                    <input type="submit" value="Log out" />
                </div>

            </form>

            <!--Go to chat button-->
            <button onclick="window.location='/chat'">Go to chat</button>

            <!--Create Room FormButton-->
            <form id="createRoomForm" action="">
                <input style="width:10%" id="createRoomFormInput" autocomplete="off" />
                <button>Create Room</button>
            </form>

            <!--Join Room FormButton-->
            <form id="joinRoomForm" action="">
                <input style="width:10%" id="joinRoomFormInput" autocomplete="off" />
                <button>Join Room</button>
            </form>

        </div>

        <p>Chat Rooms</p>
        <%- userData %>

    </body>

</html>
