<!doctype html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Passport example</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>

            function addUserDetails() {

                const socket = io();
                // const socketIdSpan = document.getElementById("socketId");
                const usernameSpan = document.getElementById("username");

                socket.on('connect', () => {

                    // socketIdSpan.innerText = socket.id;

                    socket.emit('whoami', (username) => {
                        usernameSpan.innerText = username;
                    });

                });

            };

            $(document).ready(function () {

                let socket = io();

                // Enter room submit button clicked
                $('#enterRoomForm').submit(function () {
                    // socket.emit('enterRoom', $('#enterRoomFormInput').val());
                    let chatURL = "/chat/" + $('#enterRoomFormInput').val();
                    $('#enterRoomFormInput').val('');
                    location.href = chatURL;
                    return false;
                });


                // Room Settings

                // Join room submit button clicked
                $('#joinRoomForm').submit(function () {
                    socket.emit('joinRoom', $('#joinRoomFormInput').val());
                    //console.log($('#m').val());
                    $('#joinRoomFormInput').val('');
                    location.href = '/';
                    return false;
                });

                // Leave room submit button clicked
                $('#leaveRoomForm').submit(function () {
                    socket.emit('leaveRoom', $('#leaveRoomIDFormInput').val());
                    $('#leaveRoomIDFormInput').val('');
                    location.href = '/';
                    return false;
                });


                // Create room submit button clicked
                $('#createRoomForm').submit(function () {
                    socket.emit('createRoom', $('#createRoomFormInput').val());
                    $('#createRoomFormInput').val('');
                    location.href = '/';
                    return false;
                });

                // Delete room submit button clicked
                $('#deleteRoomForm').submit(function () {
                    socket.emit('deleteRoom', $('#deleteRoomFormInput').val());
                    $('#deleteRoomFormInput').val('');
                    location.href = '/';
                    return false;
                });


                // Change room name button clicked
                $('#renameRoomForm').submit(function () {
                    socket.emit('renameRoom', { roomID: $('#newNameRoomIDFormInput').val(), newRoomName: $('#newRoomNameFormInput').val() });
                    $('#newNameRoomIDFormInput').val('');
                    $('#newRoomNameFormInput').val('');
                    location.href = '/';
                    return false;
                });

                // Change room privacy settings button clicked
                $('#changeRoomPrivacyForm').submit(function () {
                    socket.emit('changeRoomPrivacy', $('#changePrivacyRoomIDFormInput').val());
                    $('#changePrivacyRoomIDFormInput').val('');
                    location.href = '/';
                    return false;
                });

                // Invitation settings button clicked
                $("#changeRoomInvitationSettingsForm button").click(function (event) {
                    event.preventDefault()

                    if ($(this).attr("value") == "1") {
                        socket.emit('changeInvitationSettings', {roomID: $('#changeInvitationSettingsRoomIDFormInput').val(), invitationType: 1});
                        $('#changeInvitationSettingsRoomIDFormInput').val('');
                        //$("#myform").submit();
                    }

                    else if ($(this).attr("value") == "3") {
                        socket.emit('changeInvitationSettings', {roomID: $('#changeInvitationSettingsRoomIDFormInput').val(), invitationType: 3});
                        $('#changeInvitationSettingsRoomIDFormInput').val('');
                    }

                    else if ($(this).attr("value") == "4") {
                        socket.emit('changeInvitationSettings', {roomID: $('#changeInvitationSettingsRoomIDFormInput').val(), invitationType: 4});
                        $('#changeInvitationSettingsRoomIDFormInput').val('');
                    }

                    location.href = '/';

                });

                // Add user to room button clicked
                $('#addUserToRoomForm').submit(function () {
                    socket.emit('addUserToRoom', { room: $('#roomIDFormInput').val(), usernameToAdd: $('#usernameToAddFormInput').val() });
                    $('#roomIDFormInput').val('');
                    $('#usernameToAddFormInput').val('');
                    return false;
                });



                // Friends

                // Add friend button clicked
                $('#addFriendForm').submit(function () {
                    socket.emit('addFriend', $('#addFriendUsernameFormInput').val());
                    $('#addFriendUsernameFormInput').val('');
                    location.href = '/';
                    return false;
                });

                // Remove friend button clicked
                $('#removeFriendForm').submit(function () {
                    socket.emit('removeFriend', $('#removeFriendUsernameFormInput').val());
                    $('#removeFriendUsernameFormInput').val('');
                    location.href = '/';
                    return false;
                });


            });

        </script>


    </head>

    <body>

        <!--<p>Authenticated!</p>-->
        <!--<p>Socket ID: <span id="socketId"></span></p>-->
        <p>Username: <span id="username"></span></p>
        <script>addUserDetails();</script> <!-- Fills the page with the authenticated user details-->

        <!--Logout button-->
        <form action="/logout" method="post">

            <div>
                <input type="submit" value="Log out" />
            </div>

        </form>

        <!--Enter Room FormButton-->
        <form id="enterRoomForm" action="">
            <input style="width:20%" id="enterRoomFormInput" autocomplete="off" />
            <button>Enter Room</button>
        </form>


        <hr>

        <p>Room Settings</p>


        <!--Join Room FormButton-->
        <form id="joinRoomForm" action="">
            <input style="width:20%" id="joinRoomFormInput" autocomplete="off" />
            <button>Join Room</button>
        </form>

        <!--Leave Room FormButton-->
        <form id="leaveRoomForm" action="">
            <input style="width:20%" id="leaveRoomIDFormInput" autocomplete="off" />
            <button>Leave Room</button>
        </form>


        <br>


        <!--Create Room FormButton-->
        <form id="createRoomForm" action="">
            <input style="width:20%" id="createRoomFormInput" autocomplete="off" />
            <button>Create Room</button>
        </form>

        <!--Delete Room FormButton-->
        <form id="deleteRoomForm" action="">
            <input style="width:20%" id="deleteRoomFormInput" autocomplete="off" />
            <button>Delete Room</button>
        </form>


        <!--Change room name FormButton-->
        <form id="renameRoomForm" action="">
            <input placeholder="Room ID" style="width:20%" id="newNameRoomIDFormInput" autocomplete="off" />
            <input placeholder="New Room Name" style="width:20%" id="newRoomNameFormInput" autocomplete="off" />
            <button>Rename room</button>
        </form>



        <!--Change room privacy settings FormButton-->
        <form id="changeRoomPrivacyForm" action="">
            <input style="width:20%" id="changePrivacyRoomIDFormInput" autocomplete="off" />
            <button>Change room privacy</button>
        </form>

        <!--Change room invitation settings FormButton-->
        <form id="changeRoomInvitationSettingsForm" action="">
            Invitation Settings:
            <input style="width:20%" id="changeInvitationSettingsRoomIDFormInput" autocomplete="off" />
            <button type="submit" value="1">Everyone can invite</button>
            <button type="submit" value="3">Only admins can invite</button>
            <button type="submit" value="4">Only creator can invite</button>
        </form>

        <!--Add user to room FormButton-->
        <form id="addUserToRoomForm" action="">
            <input placeholder="Room ID" style="width:20%" id="roomIDFormInput" autocomplete="off" />
            <input placeholder="Username" style="width:20%" id="usernameToAddFormInput" autocomplete="off" />
            <button>Add user to Room</button>
        </form>


        <p>Rooms</p>
        <%- userRoomsParsedData %>


        <hr>


        <p>Settings</p>

        <!--Add friend FormButton-->
        <form id="addFriendForm" action="">
            <input style="width:20%" id="addFriendUsernameFormInput" autocomplete="off" />
            <button>Add Friend</button>
        </form>

        <!--Remove friend FormButton-->
        <form id="removeFriendForm" action="">
            <input style="width:20%" id="removeFriendUsernameFormInput" autocomplete="off" />
            <button>Remove Friend</button>
        </form>

        <p>Friends</p>

        <%- userFriendsParsedData %>


    </body>

</html>
